<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tank Museum RESTful Web Services Project</title>
</head>
<body>
<p>An error has occurred, possible explanations:<br><br>
    -- You've tried to add a tank without a name and/or weight.<br>
    -- You've tried to add a tank with a name that already exists in the database.<br>
    -- You've tried to remove a tank with an ID that does not exist in the database.<br>
    -- You've accessed "/error" or an non-existing page manually.<br>
</p>

<p>Go back and try again.</p>
</body>
</html>